@font-face{
    font-family: 'argo';
    src: url("../fonts/Argo/Argo\ Flats.ttf");
}

@font-face{
    font-family: 'steiner';
    src: url("../fonts/Steinerlight.ttf");
}

@font-face{
    font-family: 'product-sans';
    src: url("../fonts/Product\ Sans\ Regular.ttf");
}

@font-face{
    font-family: 'montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face{
    font-family: 'argo_t';
    src: url("../fonts/Argo/Argo\ Turret.ttf");
}

$warnadasar1 : #042a38;
$warnadasar2 : #b32442;
$warnadasar3 : #760933;

body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

section{
    margin-top: 150px;
}

.wrapper-flex-center{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}

.wrapper-flex-spacebetween{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.wrapper-flex-center-down{
    display: flex;
    height: auto;
    // justify-content: center;
    width: fit-content;
    align-items: center;
    flex-direction: column;
}

.wrapper-block-fit{
    width: fit-content;
    height: fit-content;
    display: block;
}

.wrapper-3d-layer1{
    position: relative;
    width: 300px;
    height: 235px;
    background-color: $warnadasar3;
}

.wrapper-3d-layer2{
    position: relative;
    top: 50%;
    // z-index: -999;
    left: -12.5%;
    transform: translateY(-50%);
    width: 90% + 15%;
    height: 85%;
    background-color: $warnadasar2;
}

.tulisan1{
    font-family: argo;
    font-size: 1.25rem;
}

.tulisan2{
    font-family: steiner;
    font-size: 1.25rem;
}

.tulisan3{
    font-family: product-sans;
    font-size: 1.25rem;
}

.tulisan4{
    font-family: montserrat;
    font-size: 1.25rem;
}

.tulisan5{
    font-family: argo_t;
    font-size: 1.25rem;
}

.garis-bawah{
    // font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    color: $warnadasar1;
    padding: 0 5px 2.5px 5px;
    margin-bottom: 15px;
    border-bottom: 3px solid $warnadasar2;
    letter-spacing: 3px;
    font-weight: 600;
}


body{
// BATAS BODY //
    #section1{
        margin-top: 0;
        .wrapper-flex-spacebetween{
            flex-direction: row-reverse;
            height: 88px;
            .wrapper-flex-spacebetween{
                height: 100%;                                                                        
                align-items: center;
                width: 30%;
                .tulisan1{
                    cursor: pointer;
                }                
            }
        }
    }
    // BATAS SECTION1

    #section2{
        margin-top: 100px;
        #selector1{
            .wrapper-flex-spacebetween{
                flex-direction: row-reverse;
                .wrapper-flex-center-down{
                    align-items: flex-start;
                    
                    .tulisan4{
                        font-size: 1.65rem;
                        letter-spacing: 2.5px;
                        font-weight: bold;
                    }
                    .tulisan2{
                        font-size: 1.65rem;
                        letter-spacing: 2.5px;                
                    }
                    .tulisan3{
                        font-size: 1.65rem;
                        letter-spacing: 2.5px;                
                    }
                }
            }
        }
        #selector2{
            .wrapper-flex-spacebetween{
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;                
            }
        }
    }
    // BATAS SECTION2

    #section3{
        margin-top: 190px;
        #selector_1{
            #selector1{
                .wrapper-flex-spacebetween{
                    .wrapper-3d-layer1{
                        background-color: $warnadasar1;
                        width: 350px;
                        height: 275px;
                        .tulisan5{
                            color: white;
                            width: fit-content;                        
                            font-size: 3rem;
                            text-align: right;
                            position: relative;
                            left: 90%;
                            top: 95%;
                            transform: translate(-90%, -95%);                                               
                        }
                        img:nth-of-type(1){
                            height: 260px;
                            position: absolute;
                            top: 70%;                        
                        }
                        img:nth-of-type(2){
                            width: 350px;
                            position: absolute;
                            left: 76%;
                            top: -27%;
                        }
                        .wrapper-block-fit:nth-of-type(2){
                            position: absolute;
                                top: 100.5%;
                                left: 65%;
                            .garis-bawah{                            
                                .tulisan3{
                                    font-size: 1.5rem;
                                }
                            }
                            .tulisan2{
                                font-size: 1.1rem;
                                font-weight: bold;                                                        
                            }
                        }                    
                        .wrapper-block-fit:nth-of-type(3){
                            position: absolute;
                                top: 0%;
                                left: 165%;
                            .garis-bawah{                            
                                .tulisan3{
                                    font-size: 1.5rem;
                                }
                            }
                            .tulisan2{
                                font-size: 1.1rem;
                                font-weight: bold;                                                        
                            }
                        }                    
                    }
                }
            }
        }
        #selector_2{
            #selector1{
                .wrapper-flex-spacebetween{
                    flex-direction: row-reverse;
                    .wrapper-3d-layer1{
                        background-color: $warnadasar1;
                        position: relative;
                        top: -50%;
                        width: 350px;
                        height: 275px;
                        .tulisan5{
                            color: white;
                            width: fit-content;                        
                            font-size: 3rem;                            
                            position: relative;
                            top: 7.5%;
                            left: 7.5%;                                                                        
                        }
                        img:nth-of-type(1){
                            width: 350px;
                            position: absolute;
                            left: -50%;
                            top: 65%;

                        }
                        .wrapper-block-fit:nth-of-type(2){                            
                            position: absolute;
                            top: 100.5%;
                            left: -87.5%;
                            .garis-bawah{
                                 position: relative;
                                 left: 100%;
                                 transform: translateX(-100%);                                                           
                                .tulisan3{
                                    font-size: 1.5rem;                                    
                                }
                            }
                            .tulisan2{
                                font-size: 1.1rem;
                                font-weight: bold;
                                text-align: right;                                                       
                            }
                        }
                    }
                }
            }
        }
    }
    //BATAS SECTION3


// BATAS BODY //
}