@font-face {
  font-family: 'argo';
  src: url("../fonts/Argo/Argo Flats.ttf");
}

@font-face {
  font-family: 'steiner';
  src: url("../fonts/Steinerlight.ttf");
}

@font-face {
  font-family: 'product-sans';
  src: url("../fonts/Product Sans Regular.ttf");
}

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
}

body, html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

section {
  margin-top: 150px;
}

.wrapper-flex-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.wrapper-flex-spacebetween {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.wrapper-flex-center-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-3d-layer1 {
  position: relative;
  width: 300px;
  height: 235px;
  background-color: #760933;
}

.wrapper-3d-layer2 {
  position: relative;
  top: 50%;
  left: -12.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 105%;
  height: 85%;
  background-color: #b32442;
}

.tulisan1 {
  font-family: argo;
  font-size: 1.25rem;
}

.tulisan2 {
  font-family: steiner;
  font-size: 1.25rem;
}

.tulisan3 {
  font-family: product-sans;
  font-size: 1.25rem;
}

.tulisan4 {
  font-family: montserrat;
  font-size: 1.25rem;
}

body #section1 {
  margin-top: 0;
}

body #section1 .wrapper-flex-spacebetween {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 88px;
}

body #section1 .wrapper-flex-spacebetween .wrapper-flex-spacebetween {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

body #section1 .wrapper-flex-spacebetween .wrapper-flex-spacebetween .tulisan1 {
  cursor: pointer;
}

body #section2 {
  margin-top: 100px;
}

body #section2 #selector1 .wrapper-flex-spacebetween {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body #section2 #selector1 .wrapper-flex-spacebetween .wrapper-flex-center-down {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #section2 #selector1 .wrapper-flex-spacebetween .wrapper-flex-center-down .tulisan4 {
  font-size: 1.65rem;
  letter-spacing: 2.5px;
  font-weight: bold;
}

body #section2 #selector1 .wrapper-flex-spacebetween .wrapper-flex-center-down .tulisan2 {
  font-size: 1.65rem;
  letter-spacing: 2.5px;
}

body #section2 #selector1 .wrapper-flex-spacebetween .wrapper-flex-center-down .tulisan3 {
  font-size: 1.65rem;
  letter-spacing: 2.5px;
}

body #section2 #selector2 .wrapper-flex-spacebetween {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */